@import '~ez-sass/responsive';

.row {
  &:first-of-type,
  &:nth-of-type(3) {
    @include laptop {
      display: none;
    }
  }
}

.container {
  height: 64px;
  width: 100%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  left: 0;

  @include laptop {
    justify-content: center;
  }

  .link:first-of-type {
    margin-left: 0;
  }

  .link:last-of-type {
    margin-right: 0;
  }
}

.brandName,
.link {
  text-transform: uppercase;
}

.link {
  margin: 0 12px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  padding: 0.2em 0;

  /* Fade in */
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: white;
    transition: opacity 300ms, transform 300ms;
    opacity: 1;
    transform: scale(0);
    transform-origin: center;
  }

  &:hover::after,
  &:focus::after {
    transform: scale(1);
  }
}

.menuOpen,
.menuClose {
  width: 24px;
  height: 18px;
  position: absolute;
  right: 23px;
  top: 23px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menuLine,
.crossLeft,
.crossRight {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: white;
}

.modal {
  position: fixed;
  left: 100%;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #161616;
  z-index: 10;
  transition: left 0.5s;
}

.modalOpen {
  left: 0;
}

.menuClose {
  min-height: 24px;
  justify-content: flex-start;
}

.crossLeft {
  transform: translateY(10px) rotate(-45deg);
  position: absolute;
}

.crossRight {
  transform: translateY(10px) rotate(45deg);
  position: absolute;
}

.modalLinks {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 64px 32px;
  gap: 16px;

  .link {
    width: fit-content;
  }
}
